<h1>Welcome#pets</h1>
<p>Find me in app/views/welcome/pets.html.erb</p>
<p>I am creating a pet store website to satisfy class requirements</p>
<h1>Dogs of all sizes</h1>
<img src="http://www.franklincountydogs.com/adopt/assets/images/adoptable-size.jpg">
<h1>We specialize in kittens</h1>
<img src="http://www.catprotection.com.au/wp-content/uploads/2014/11/5507692-cat-m.jpg">
